<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ejercicio-tabla">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `ejercicio-tabla`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EjercicioTabla extends Polymer.Element {
      static get is() { return 'ejercicio-tabla'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'ejercicio-tabla'
          }
        };
      }
    }

    window.customElements.define(EjercicioTabla.is, EjercicioTabla);
  </script>
</dom-module>
