<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ejercicio-tabla">
  <template>
    <style>
      :host {
        display: block;
        font-family: arial;
        font-style: italic;
        font-size: 18px;
      }
      :host div{
        display: inline-block;
      }
      :host .col{
        width: 8em;
        height: 2em;
        text-align: center;
      }
      :host .fila{
        border: 1px solid black;
      }
      :host .hidden{
        display: none;
      }
      .btn{
        cursor: pointer;
      }
      .btn:hover{
        color: blue;
      }
       /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        margin: 15% ; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 60%; /* Could be more or less, depending on screen size */
      }

      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      } 
    </style>
    <div class="fila">
      <div class="col">Clave</div>
      <div class="col">Nombre</div>
      <div class="col">Apellido</div>
      <div class="col">Télefono</div>
      <div class="col">Correo</div>
      <div class="col">Botón</div>
      <div class="col">Botón</div>
    </div>
    <template is="dom-repeat"  items="{{comp}}">
      <div id="{{item.clave}}" class="fila">
        <div  class="col">{{item.clave}}</div>
        <div class="col">{{item.nombre}}</div>
        <div class="col">{{item.apellido}}</div>
        <div class="col">{{item.tel}}</div>
        <div class="col">{{item.correo}}</div>
        <div class="col btn" on-click="borrar" data-item$="[[item.clave]]"> Borrar </div>
        <div class="col btn" on-click="info"  
        data-item$="
        [[item.clave]] 
        [[item.nombre]] 
        [[item.apellido]]
        [[item.tel]]
        [[item.correo]]"><button id="myBtn" >Info</button></div>
      </div>
      
    
    </template>
    <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" id="close">&times;</span>
          <p id="text"></p>
        </div>

      </div> 

  </template>

  <script>
    /**
     * `ejercicio-tabla`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EjercicioTabla extends Polymer.Element {
      static get is() { return 'ejercicio-tabla'; }
      static get properties() {
        return {
          comp: {
            type: Array,
            value() {
              return [
                { clave:"hsd543tg" ,nombre: 'Iris', apellido: 'Castillejo', tel:'878374732',correo:'iris@correo.com'},
                { clave:"hsdfdgr2" ,nombre: 'Silvino', apellido: 'Piza',tel:'878374732',correo:'silvino@correo.com'},
                { clave:"hsdf7gd2" ,nombre: 'Luis Miguel', apellido: 'AP',tel:'22342342',correo:'luism@correo.com'},
                { clave:"h54f76r2" ,nombre: 'monica', apellido: 'AP',tel:'9827364533',correo:'monica@correo.com' },
                { clave:"hsd54352" ,nombre: 'Diego', apellido: 'AP',tel:'3898765656',correo:'diego@correo.com'},
                { clave:"hsdf764t" ,nombre: 'Alberto', apellido: 'AP',tel:'9823432983',correo:'alberto@correo.com'}
              ]
            }
            }
        };
      }
      borrar(e){
        const item = e.target.dataset.item;
        var a =Polymer.dom(this.root).querySelector("#"+item);
        a.setAttribute('class','hidden');

      }
      info(e){
         var item = e.target.dataset.item;
       // alert(item);
        var modal = Polymer.dom(this.root).querySelector("#myModal");
       var span =  Polymer.dom(this.root).querySelector("#close");
       var txt = Polymer.dom(this.root).querySelector("#text");

        modal.style.display = "block";
        txt.innerHTML= item;
      
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      } 

      }
       ready(e){
      super.ready();
       var modal = Polymer.dom(this.root).querySelector("#myModal");
       modal.style.display = "none";

      }

    }
   

    window.customElements.define(EjercicioTabla.is, EjercicioTabla);
  </script>
</dom-module>
